@import '../index.scss';

#NavSidebarContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border : {
    bottom: 4px solid $border;
    right: 2px solid $border;
    left: 2px solid $border;
  }
  margin: {
    top: 0.5rem;
  }
  padding: {
    right: 0.5rem;
    left: 0.5rem;
    bottom: 0.5rem;
  }
}

#HomebuttonTxt,
#SidebarTxt {
  color: #426dfb;
  font-size: 3vmin;
  line-height: 2vw;
  text-shadow: 0 0 3vw #2356ff;
  animation: flux 2s linear infinite;
  -moz-animation: flux 5s linear infinite;
  -webkit-animation: flux 5s linear infinite;
  -o-animation: flux 5s linear infinite;
  margin: {
    top: 1vmin;
    bottom: 1vmin;
  }

  #logo {
    height: 2vmin;
  }
}

#Sidebar {
  margin-right: 1rem;
}

#NavSidebar {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 12vmax;

  div {
    border-radius: 20px;
  }
}

#NavSidebar > div {
  font-size: 1.8vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  z-index: 1;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  z-index: -1;
  flex-direction: column;
  height: auto;
  background-color: #3c4754;
  opacity: 0.8;
  padding: 2vmin;
  align-items: center;
  justify-items: center;
  a:any-link {
    color: white;
  }

  a:hover {
    text-decoration: none;
    color: $mainYellow;
    font-size: 2.5vmin;
  }
}

.flux {
  animation: flux 6s linear infinite;
}

.loginContent {
  align-content: center;
}

#loginContainer {
  margin: 1vmin;
  display: flex;
  flex-wrap: wrap;
  padding: 2vmin;
}

#loginContainer input {
  width: 20vw;
  height: 2vh;
}

#induce > div {
  margin-bottom: 1vmax;
}

#close, #logoutTxt{
  cursor: pointer;
  color: #ffffff;
}
