@import '../index.scss';

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1rem #1041ff, 0 0 5rem #1041ff, 0 0 10vw #1041ff,
      0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.1vw 0.1vw 0.1vw #147280;
    color: #28d7fe;
  }
  50% {
    text-shadow: 0 0 0.5rem #082180, 0 0 1.5rem #082180, 0 0 5vw #082180,
      0 0 5vw #082180, 0 0 0.2vw #082180, 0.1vw 0.1vw 0.1vw #0a3940;
    color: #146c80;
  }
}

#NavSidebarContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border : {
    bottom: 4px solid $border;
    right: 2px solid $border;
    left: 2px solid $border;
  }
  margin: {
    top: 0.5rem;
  }
  padding: {
    right: 0.5rem;
    left: 0.5rem;
    bottom: 0.5rem;
  }
}

#HomebuttonTxt,
#SidebarTxt {
  color: #426dfb;
  font-size: 3vmin;
  line-height: 2vw;
  text-shadow: 0 0 3vw #2356ff;
  animation: flux 2s linear infinite;
  -moz-animation: flux 5s linear infinite;
  -webkit-animation: flux 5s linear infinite;
  -o-animation: flux 5s linear infinite;
  margin: {
    top: 1vmin;
    bottom: 1vmin;
  }

  #logo {
    height: 2vmin;
  }
}

// * {
//     // border: 1px solid #39444D;
// }

// #Homebutton{
//     // flex: 1 0 auto;
//     // margin-left: 0.5rem;
// }

#Sidebar {
  margin-right: 1rem;
  // flex: 1 0 auto;
  // z-index: -1;
  // padding: 0.3rem;
  // word-break:normal;
  // white-space: inherit;
}

#NavSidebar {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0.7rem;

  div {
    border-radius: 20px;
  }
}

#NavSidebar > div {
  font-size: 1.8vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vmin;
  margin-bottom: 1rem;
  z-index: 1;
}

// #NavSidebar > div:last-of-type {
//   height: 4vh;
//   width: 20vw;
//   justify-content: center;
//   align-content: center;
//   align-items: center;
//   margin-bottom: 1rem;
//   border: 2px solid #677280;
//   border-radius: 0.3rem;
// }

.panel {
  display: flex;
  z-index: -1;
  flex-direction: column;
  height: auto;
  background-color: #3c4754;
  border-radius: 1rem;
  opacity: 0.8;
  padding: 2vmin;
  a:any-link {
    color: white;
  }

  a:hover {
    text-decoration: none;
    color: $mainYellow;
    font-size: 2.5vmin;
  }
}
