$red: red;
$black: black;
$orange: orange;
$purple: purple;
$lightblue: lightblue;
$springgreen: springgreen;
$green: green;
$hotpink: hotpink;
$pink: pink;
$border_color: #39444d;

.title-button {
  display: flex;
  justify-content: space-between;
}

.select-badge-button {
  margin-right: 16px;
  cursor: pointer;
}
.title-button button:hover {
  background-color: lighten($color: $border_color, $amount: 50%);
  color: gold;
}
.i-have-some-tags {
  padding: 12px 16px;
}

.i-dont-have-this-badges {
  padding: 12px 16px;
}

.my-tags {
  display: flex;
  justify-content: space-between;
  border: $border_color 2px solid;
  border-radius: 6px;
  padding: 10px;
  background-color: lighten($color: $border_color, $amount: 10%);
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  :last-child {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    width: 200px;
    align-items: center;
    justify-content: center;
  }
}

.my-tags-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  :last-child {
    text-align: center;
    width: 80px;
  }
}

.my-tags:hover {
  cursor: pointer;
  background-color: lighten($color: $border_color, $amount: 15%);
}

.pick-my-tag {
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  padding: 10px;
  background-color: lighten($color: $border_color, $amount: 10%);
  align-items: center;
  margin-top: 5px;
  color: burlywood;
  border: 2px solid $hotpink;
  margin-bottom: 10px;
  :last-child {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    width: 200px;
    align-items: center;
    justify-content: center;
  }
}

.pick-my-tags-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  :last-child {
    text-align: center;
    width: 80px;
  }
}

.pick-my-tags-name {
  width: 100px;
}
.pick-my-tags-description {
  width: 200px;
}

.pick-my-tag:hover {
  cursor: pointer;
  background-color: lighten($color: $border_color, $amount: 15%);
}

.not-my-tags {
  color: gray;
  display: flex;
  justify-content: space-between;
  border: $border_color 2px solid;
  border-radius: 6px;
  padding: 10px;
  background-color: lighten($color: $border_color, $amount: 10%);
  align-items: center;
  margin-top: 5px;
  :last-child {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    width: 200px;
    align-items: center;
    justify-content: center;
  }
}

.not-my-tags:hover {
  cursor: default;
  background-color: lighten($color: $border_color, $amount: 15%);
}

.not-my-tag-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  // width: 120px;
  :last-child {
    text-align: center;
    width: 80px;
  }
}

[type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
[type='radio'] + div {
  cursor: pointer;
}
[type='radio']:checked + div {
  // outline: 5px solid gold;
  border: 5px solid gold;
  border-radius: 7px;
}

#tag-id-1 {
  content: url('../../../img/tag-id-1.png');
}
#tag-id-2 {
  content: url('../../../img/tag-id-2.gif');
}
#tag-id-3 {
  content: url('../../../img/tag-id-3.gif');
}
#tag-id-4 {
  content: url('../../../img/tag-id-4.gif');
}
#tag-id-5 {
  content: url('../../../img/tag-id-5.png');
}
#tag-id-6 {
  content: url('../../../img/tag-id-6.gif');
}
#tag-id-7 {
  content: url('../../../img/tag-id-7.gif');
}
