$border_color: #39444d;

#MyAchievementApt {
  padding: 12px 16px;
}

.my_apt_title {
  margin-bottom: 5px;
}

#apt-container {
  display: flex;
  overflow: auto;
  overflow-y: hidden;
  // justify-content: end;
  border: $border_color 1px solid;
  border-radius: 6px;
  padding: 10px;
  :last-child {
    margin-right: 0px;
  }
}

::-webkit-scrollbar {
  // display: none;
  background-color: $border_color;
}
.apt-container::-webkit-scrollbar {
  width: 10px;
}
.apt-container::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.apt-container::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.apt-weekly-container {
  margin-right: 2px;
  width: 100px;

  padding: 2px;
}

.apt-light-none {
  width: 12px;
  height: 12px;
  background-color: #2d333b;
  border-radius: 2px;
  margin-bottom: 4px;
}

.apt-light-none:hover {
  cursor: default;
  .apt-hide-info {
    top: 15px;
    right: 100px;
    display: flex;
    width: 100px;
    height: 20px;
    font-size: 16px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border: 1px hotpink solid;
    position: relative;
    z-index: 999;
    animation: fadeIn 0.5s ease-in-out;
  }
  border-right: 1px solid hotpink;
  border-bottom: 1px solid hotpink;
}

.apt-light {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  margin-bottom: 4px;
  background-color: #f8ab20;
}

.apt-light:hover {
  cursor: default;
  .apt-hide-info {
    top: 15px;
    right: 100px;
    display: flex;
    width: 100px;
    height: 20px;
    font-size: 16px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border: 1px hotpink solid;
    position: relative;
    z-index: 999;
    animation: fadeIn 0.5s ease-in-out;
  }
  border-right: 1px solid hotpink;
  border-bottom: 1px solid hotpink;
}

.apt-week {
  display: none;
}

.apt-hide-info {
  display: none;
}
