$red: red;
$black: black;
$orange: orange;
$purple: purple;
$lightblue: lightblue;
$springgreen: springgreen;
$green: green;
$hotpink: hotpink;
$border_color: #39444d;

#MyWork {
  // border: 2px $border_color solid;
  // margin: 10px;
  padding: 12px 16px;
}
.mywork-title {
  font-size: 16px;
  margin-bottom: 5px;
}

.myword-container {
  background-color: lighten($border_color, 7%);
  border: 2px $border_color solid;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  line-height: 20px;
  border-radius: 6px;
}
.myword-container:hover {
  background-color: lighten($border_color, 12%);
}

.myword-like-comment {
  display: flex;
  justify-content: flex-end;
  div {
    margin-right: 10px;
  }
  :last-child {
    margin-right: 0px;
  }
}
