#Homepage {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#neon {
  color: #ffad1e;
  font-size: 1.1rem;
  line-height: 0;
  text-shadow: 0 0 0.001vw #ffad1e;

  animation: neon 5s ease infinite;
  -moz-animation: neon 5s ease infinite;
  -webkit-animation: neon 5s ease infinite;
}

@keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 1rem #FA1C16, 0 0 2rem #FA1C16, 0 0 2rem #FA1C16, 0 0 2rem #FA1C16, 0 0 .4rem #FED128, .1rem .1rem .1rem #806914;
      color: #FED128;
    }
    80% {
      text-shadow: 0 0 .1rem #800E0B, 0 0 1.5rem #800E0B, 0 0 2rem #800E0B, 0 0 2rem #800E0B, 0 0 .2rem #800E0B, .1rem .1rem .1rem #40340A;
      color: #806914;
    }
  }