$border: #39444d;
$mainYellow: #ffad1e;
$first: #1041ff;
$second: #8bfdfe;


@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
  
    to {
      opacity: 3;
      transform: none;
    }
  }

  @keyframes flux {
    0%,
    100% {
      text-shadow: 0 0 1rem #1041ff, 0 0 5rem #1041ff, 0 0 10vw #1041ff,
        0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.1vw 0.1vw 0.1vw #147280;
      color: #28d7fe;
    }
    50% {
      text-shadow: 0 0 0.5rem #082180, 0 0 1.5rem #082180, 0 0 5vw #082180,
        0 0 5vw #082180, 0 0 0.2vw #082180, 0.1vw 0.1vw 0.1vw #0a3940;
      color: #146c80;
    }
  }

.mainYello {
  color: $mainYellow;
}

.first {
  color: $first;
}

.second {
  color: $second;
}