/* entire page */
#main-page {
  height: 100%;
  display: flex;
}
#main-page ::-webkit-scrollbar {
  width: 5px;
  border-radius: 2px;
  background-color: #798088;
}

/* feed */
@media only screen and (max-width: 767px) {
  .feed-container {
    width: 100%;
    max-width: 600px;
    min-width: 375px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .feed-container {
    width: 600px;
  }
}
@media only screen and (min-width: 1024px) {
  .feed-container {
    width: 600px;
  }
}
.feed-container {
  display: flex;
  flex-direction: column;
}

/* poem input */
#main-page-poem-input {
  /* border-right: 1px #39444d solid; */
  border-right: 1px white solid;
  border-left: 1px white solid;
  display: flex;
}

.edit-poem-input {
  display: flex;
  margin: 20px;
}
.edit-poem-input form {
  width: 100%;
}

.my-pic-container {
  display: flex;
}

#main-page-poem-input .my-pic-container .my-pic {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  margin: 5px 10px 0 10px;
  opacity: 0.5;
}

#main-page-poem-input .word-input-container {
  display: flex;
  flex-direction: column;
  margin: 13px 0 5px 0;
  width: 80%;
}

#main-page-poem-input .word-input-container .todays-word {
  color: white;
  font-weight: 300;
  margin-bottom: 10px;
  display: inline-flex;
  align-items: baseline;
}

#main-page-poem-input .word-input-container .todays-word > h2 {
  margin-left: 10px;
  font-weight: 400;
}

#main-page-poem-input .word-input-container .input-btn-container {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.input-container input {
  min-width: 270px;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 4px #39444d dashed;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
}

.btn-container {
  margin-bottom: 5px;
}

/* user rank */
@media only screen and (min-width: 769px) and(max-width:991px) {
  #main-page-user-ranking {
  }
}
@media only screen and (min-width: 1024px) {
  #main-page-user-ranking {
    min-width: 300px;
  }
}
#main-page-user-ranking {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0 20px;
  border: 1px gainsboro solid;
  border-radius: 20px;
  background-color: #192734;
  height: fit-content;
}

#main-page-user-ranking > h2 {
  margin: 10px;
}

.rank-container {
  background-color: rgba(0, 0, 0, 0);
}
.rank-container .rank-content {
  margin: 20px 10px 20px 10px;
}
.rank-container .rank-content > span {
  color: #ffad1e;
}
.more {
  margin: 20px 10px 20px 10px;
  font-size: 0.8rem;
  color: #ffad1e;
}

/* poem view */
#main-page-poem-list {
  /* border: 3px solid skyblue; */
}
#main-page-poem-container {
  /* border: 3px solid rgb(57, 74, 170); */
}

#poem-view-container {
  border: 1px gainsboro solid;
}
#poem-view-container:hover {
  background-color: #192734;
}

.poem-view {
  margin: 5px 10px 10px 10px;
  display: block;
}

.pic-info-content-container {
  display: flex;
  width: inherit;
}
.user-pic-container .user-pic {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin: 0 10px 0 0;
  background-color: white;
  opacity: 0.5;
}

.poem-info {
  display: flex;
  align-items: center;
  color: #8899a6;
  margin-top: 5px;
}

.poem-info .tag {
  margin-right: 5px;
}
.poem-info .nick-name {
  font-weight: 700;
  color: white;
}

.del-btn-container {
  float: right;
  background-color: rgba(0, 0, 0, 0);
}
.del-btn-container:hover {
  color: red;
  background-color: rgba(129, 142, 185, 0.219);
  box-shadow: 0px 0px 5px 5px rgba(129, 142, 185, 0.219);
}

.poem-content-container {
  display: flex;
  flex-direction: column;
  width: inherit;
  max-width: 470px;
  margin: 10px 0 15px 0;
}
.poem-content-container .poem-content {
  width: inherit;
  color: #cdd9e5;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 10px;
}

/* button group */
.poem-button-group {
  /* border: 3px rgb(169, 255, 56) solid; */
  width: 90%;
  margin: auto;
  color: #8899a6;
  display: flex;
  justify-content: space-around;
}

.poem-button-group .comment-container {
  display: flex;
  align-items: center;
}
.poem-button-group .comment-container:hover {
  color: royalblue;
}
.comment-icon {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  width: 2.2rem;
  height: 2.2rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.5s, box-shadow 0.5s;
}
.comment-icon:hover {
  background-color: rgba(129, 142, 185, 0.219);
  box-shadow: 0px 0px 5px 5px rgba(129, 142, 185, 0.219);
}
.poem-button-group .comment-num {
  padding-left: 10px;
}
.poem-button-group .like-container {
  display: flex;
  align-items: center;
}
.poem-button-group .like-container:hover {
  color: #ffad1e;
}
.poem-button-group .like-icon {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  width: 2.2rem;
  height: 2.2rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.5s, box-shadow 0.5s;
}
.poem-button-group .like-icon:hover {
  background-color: rgba(185, 168, 131, 0.233);
  box-shadow: 0px 0px 5px 5px rgba(185, 168, 131, 0.233);
}

.poem-button-group .like-num {
  padding-left: 10px;
}

.poem-button-group .share-container:hover {
  color: #00d6a1;
}
.poem-button-group .share-icon {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  width: 2.2rem;
  height: 2.2rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.5s, box-shadow 0.5s;
}
.poem-button-group .share-icon:hover {
  background-color: rgba(152, 197, 186, 0.185);
  box-shadow: 0px 0px 5px 5px rgba(152, 197, 186, 0.185);
}

.poem-button-group .report-container:hover {
  color: #b62052;
}
.poem-button-group .report-icon {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  width: 2.2rem;
  height: 2.2rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.5s, box-shadow 0.5s;
}
.poem-button-group .report-icon:hover {
  background-color: rgba(199, 155, 155, 0.178);
  box-shadow: 0px 0px 5px 5px rgba(199, 155, 155, 0.178);
}

/* modal */

#modal-container {
  /* border: 3px rgb(107, 0, 194) solid; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(47, 71, 97, 0.534);
  z-index: 999;
  opacity: 1;
}
.modal {
  position: absolute;
  width: 600px;
  max-height: 550px;
  left: 25%;
  top: 5%;
  background-color: rgb(21, 32, 43);
  border-radius: 20px;
  border: 1px gainsboro solid;
}

#modal-poem {
  display: flex;
  flex-direction: column;
}

.edit-del-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 45px;
}

#modal-comments-container {
}

#modal-comments-textarea {
  display: flex;
  flex-direction: column;
}
#modal-comments-textarea .textarea-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

#modal-comments-container textarea {
  width: 85%;
  min-height: 70px;
  border-radius: 5px;
}

#modal-comments-view {
  max-height: 230px;
  overflow-y: scroll;
}

.modal-comment-item-container {
  background-color: #39444d;
  border-radius: 5px;
  margin: 10px 0 10px 0;
}

.comment-del-btn {
  padding: 5px 10px 5px 5px;
  display: flex;
  justify-content: flex-end;
}

.modal-comment-item {
  padding: 0 10px 10px 10px;
}

/* button */
.btn {
  border: 1px rgba(0, 0, 0, 0) solid;
  border-radius: 5px;
  color: white;
}

.upload-btn {
  background-color: #ffad1e;
  width: 63px;
  height: 40px;
  font-size: 15px;
  font-weight: 700;
  float: right;
}
.upload-btn:hover {
  background-color: #e79c1c;
}

.comment-btn {
  background-color: #ffad1e;
  width: 80px;
  height: 70px;
}

.poem-del-btn {
  margin-right: 10px;
}
.poem-del-btn:hover {
  color: red;
}

.poem-edit-btn {
  margin-right: 15px;
}
.poem-edit-btn:hover {
  color: rgb(171, 82, 255);
}

/* utils */
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml10 {
  margin-left: 10px;
}

.gap {
  border: 1px gainsboro solid;
  background-color: #192734;
  height: 10px;
}

.divider {
  border-bottom: 1px #39444d solid;
}
