a:any-link {
  text-decoration: none;
  color: rgb(7, 71, 199);
}

a:hover {
  color: rgb(128, 73, 255);
}

* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  font-family: 'DungGeunMo';
}

body {
  background-color: #15202b;
}

@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
