$red: red;
$black: black;
$orange: orange;
$purple: purple;
$lightblue: lightblue;
$springgreen: springgreen;
$green: green;

#MyAchievementApt {
  border: solid 2px $purple;
  margin: 0px 10px 10px 10px;
  padding: 5px;
}

.apt-container {
  display: flex;
  overflow: auto;
  justify-content: end;
}

.apt-weekly-container {
  width: 15px;
  border: $black 2px solid;
}
