$red: red;
$black: black;
$orange: orange;
$purple: purple;
$lightblue: lightblue;
$springgreen: springgreen;
$green: green;
$hotpink: hotpink;
$pink: pink;

#MyAchievementBadges {
  border: solid 2px $purple;
  margin: 0px 10px 10px 10px;
}

.title-button {
  display: flex;
  justify-content: space-between;
  margin: 5px 5px 5px 5px;
}

.i-have-some-tags {
  border: $springgreen 2px solid;
  margin: 0px 5px 5px 5px;
  padding: 5px;
}

.i-dont-have-this-badges {
  border: $green 2px solid;
  margin: 0px 5px 5px 5px;
  padding: 5px;
}

.my-tags {
  display: flex;
  justify-content: space-between;
}

.pick-my-tag {
  border: 2px solid $hotpink;
}

.not-my-tags {
  color: gray;
  display: flex;
  justify-content: space-between;
}
