$red: red;
$black: black;
$orange: orange;
$purple: purple;
$lightblue: lightblue;
$springgreen: springgreen;
$green: green;
$border_color: #39444d;

#MyAchievementStars {
  padding: 12px 16px;
  margin-bottom: 20px;
}

.star-title-container-flexbox {
  display: flex;
}

.star-title-container {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  border: 2px hotpink solid;
}

.star-container {
  border: 2px gold solid;
}
