$red: red;
$black: black;
$orange: orange;
$purple: purple;
$lightblue: lightblue;
$springgreen: springgreen;
$green: green;

#MyAchievementApt {
  border: solid 2px $purple;
  margin: 0px 10px 10px 10px;
  padding: 5px;
}

.apt-container {
  display: flex;
  overflow: auto;
  justify-content: end;
  border: solid 2px $red;
}

.apt-weekly-container {
  // width: 1px;
  border: $black 2px solid;
  margin-right: 2px;
  :last-child {
    margin-right: 0px;
  }
  padding: 2px;
}
