$red: red;
$black: black;
$orange: orange;
$purple: purple;
$lightblue: lightblue;
$border_color: #39444d;

#MyAchievementContainer {
  // border: solid 2px $border_color;
  // margin: 10px;
  // padding: 5px;
}
