$red: red;
$black: black;
$orange: orange;
$purple: purple;
$lightblue: lightblue;
$springgreen: springgreen;
$green: green;
$hotpink: hotpink;
$pink: pink;
$border_color: #39444d;

#MyAchievementBadges {
  // border: solid 2px $border_color;
  // margin: 10px;
  border-bottom: solid 2px $border_color;
}

.title-button {
  display: flex;
  justify-content: space-between;
  // margin: 5px 5px 5px 5px;
  padding: 12px 16px;
}

.i-have-some-tags {
  // border: $border_color 2px solid;
  // margin: 0px 5px 5px 5px;
  // padding: 5px;
  padding: 12px 16px;
}

.i-dont-have-this-badges {
  padding: 12px 16px;
  // border: $border_color 2px solid;
  // margin: 0px 5px 5px 5px;
  // padding: 5px;
}

.my-tags {
  display: flex;
  justify-content: space-between;
}

.pick-my-tag {
  border: 2px solid $hotpink;
}

.not-my-tags {
  color: gray;
  display: flex;
  justify-content: space-between;
}

.tag {
  content: url('../../img/New_Piskel.png');
}
