$red: red;
$black: black;
$orange: orange;
$purple: purple;
$lightblue: lightblue;
$springgreen: springgreen;
$green: green;
$border_color: #39444d;

#MyIntroduction {
  // border: solid 1px $border_color;
  font-size: 17px;
  font-weight: 300;
  color: #768390;
}
