$red: red;
$black: black;
$orange: orange;
$purple: purple;
$lightblue: lightblue;
$springgreen: springgreen;
$green: green;
$border_color: #39444d;

#MyNickName {
  font-size: 30px;
  font-weight: 700;
}
