$red: red;
$black: black;
$orange: orange;
$purple: purple;
$lightblue: lightblue;
$springgreen: springgreen;
$green: green;

#my_photo {
  border: 2px solid $purple;
  margin-bottom: 10px;
}

.photo {
  content: url(../../img/Sample_User_Icon.png);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 2px $purple solid;
  margin-bottom: 10px;
}
