$red: red;
$black: black;
$orange: orange;
$purple: purple;
$lightblue: lightblue;
$springgreen: springgreen;
$green: green;
$hotpink: hotpink;
$border_color: #39444d;

#MyWork {
  // border: 2px $border_color solid;
  // margin: 10px;
  padding: 12px 16px;
}

.myword-container {
  display: flex;
  border: 2px $border_color solid;
  margin: 0px 5px 5px 5px;
  justify-content: space-between;
  padding: 5px;
}
