$border: #39444D;

#NavSidebarContainer {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $border;
    margin: {
        top: 0.5rem;
        bottom: 0.5rem;
    }
    padding: {
        right: 0.5rem;
        left: 0.5rem;   
        bottom: 0.5rem;
    }
}

// * {
//     // border: 1px solid #39444D;
// }

// #Homebutton{
//     // flex: 1 0 auto;
//     // margin-left: 0.5rem;
// }

#Sidebar {
    margin-right: 1rem;
    // flex: 1 0 auto;
    // z-index: -1;
    // padding: 0.3rem;
    // word-break:normal;
    // white-space: inherit;
}

#NavSidebar {
    height: 60vh;
    width: 38vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0.7rem;

}

#NavSidebar>div { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-bottom: 1rem;
    border: 2px solid #677280;
    border-radius: 0.3rem;
}

#NavSidebar>div:last-of-type { 
    height: 4vh;
    width: 20vw;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border: 2px solid #677280;
    border-radius: 0.3rem;
}

.panel {
    background-color:#3c4754;
    opacity: 0.98;
    a:any-link {
        color:white;
    };

    a:hover{
        text-decoration: underline;
        font-size: 1.1rem;
    }
}

#Footer {
    background-color: #000000;
    border: {
      top: 2px solid $border;  
      bottom: 2px solid $border;  
    } 
    justify-content: stretch;
    display: flex;
    justify-content: space-around;
}