$border_color: #39444d;

@keyframes slowMotion {
  from {
    opacity: 0;
  }

  to {
    opacity: 3;
  }
}

#my_introduction_modal_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(47, 71, 97, 0.7);
  z-index: 999;
  opacity: 1;
  padding: 20px;
  animation: slowMotion 0.5s ease-in-out;
}
#my_introduction_modal_container button {
  cursor: pointer;
  border-radius: 6px;
  height: 30px;
}
#my_introduction_modal_container input {
  height: 30px;
  width: 200px;
  padding-left: 7px;
  border-radius: 6px;
}

.my_introduction_modal_container {
  background-color: $border_color;
  border-radius: 6px;
  // padding: 20px;
  border: 2px solid lighten($color: $border_color, $amount: 80%);
  height: 500px;
  width: 335px;
  animation: fadeIn 0.5s ease-in-out;
  animation: fadeOut 0.5s ease-in-out;
}

.my_introduction_modal_title {
  font-size: 32px;
}

.my_introduction_modal_title_close_button {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.my_introduction_modal_x {
  font-size: 30px;
  cursor: pointer;
}
.my_introduction_modal_x:hover {
  color: lighten($color: $border_color, $amount: 90%);
}

.my_introduction_name {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 20px 20px;
  border-bottom: 1px solid lighten($color: $border_color, $amount: 50%);
}

.my_introduction_info_input {
  display: flex;
  justify-content: space-between;
}

.my_nickname {
  margin-bottom: 5px;
  font-size: 16px;
}

.my_introduction_intro_container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-bottom: 1px solid lighten($color: $border_color, $amount: 50%);
}

.my_introduction_intro {
  display: flex;
  line-height: 20px;
  margin-bottom: 5px;
  font-size: 16px;
}

.my_introduction_input {
  height: 25px;
  margin-bottom: 5px;
}

.my_introduction_intro_button {
  height: 25px;
}

.my_introduction_photo {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid lighten($color: $border_color, $amount: 50%);
  justify-content: space-between;
  align-items: center;
}
.my_introduction_photo button {
  height: 25px;
}

.bye_bye_container {
  display: flex;
  padding: 20px;
}
