$red: red;
.test {
  color: $red;
  font-size: 16px;
}

.withdrawal_modal_cotainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  margin-left: 20px;
}
